<h1 class="title is-4">Create Post</h1>
<%= form_with url: posts_path, scope: :data do |f| %>
  <div class="field">
    <%= form.label :title, "Post Title", class: "label" %>
    <%= form.text_field :title, placeholder: "Post Title", required: true, class: "input" %>
  </div>
  <div>
    <%= orm.text_area :text, placeholder: "Please type in your post...", rows: 16, required: true, class: "textarea has-fixed-size" %>
  </div>
  <%= form.submit "Publish Post", class: "button is-link is-success" %>
<% end %>