<section class="content">
  <div class="header">
    <div>
      <p><%= t('post', id: @post.id) %> <%= t('by', name: @user.name) %></p>
    </div>
    <div>
      <p class="is-size-7"><%= t('comments_counter', count: @post.comments_counter) %>, <%= t('likes_counter', count: @post.likes_counter) %></p>
    </div>
  </div>
  <p class="is-size-7 is-italic"><%= t('posted_on', date: @post.created_at.to_s(:cur_date)) %></p>
  <div class="post-title-container">
    <h1 class="title"><%= @post.title %></h1>
    <% if @liked %>
      <%= render partial: "shared/not_like_post", post: @post %>
    <% else %>
      <%= render partial: "shared/like_post", post: @post %>
    <% end %>
  </div>
  <p><%= @post.text %></p>
</section>
  <%= render partial: "shared/new_comment", post: @post %>
  <%= render partial: "shared/comment", collection: @comments %>

